<div *ngIf="Chat">
  <h2>{{ Chat.name | uppercase }}</h2>
  <div><span>id: </span>{{ Chat.id }}</div>
  <div><span>topic: </span>{{ Chat.topic }}</div>
  <div><span>email: </span>{{ Chat.email }}</div>
  <div><span>message: </span>{{ Chat.message }}</div>
<div>
  <ul class="newchat">
      <li>
        <label>Name:
        <input [(ngModel)]="Chat.name" placeholder="Chat name"/>
        </label>
      </li>
      <li>
        <label>Topic:
        <input [(ngModel)]="Chat.topic" placeholder="Chat topic"/>
        </label>
      </li>
      <li>        
        <label>Email:
        <input [(ngModel)]="Chat.email" placeholder="Chat email"/>
        </label>
      </li>
      <li>
        <label>Message:
        <input [(ngModel)]="Chat.message" placeholder="Chat message"/>
        </label>
      </li>
  </ul>
</div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
